body {
    height: 100vh;
    background-image: linear-gradient(#120E43, #4c3ae3);
    /* background-image: linear-gradient(#03203C, #4c3ae3); */
    /* background-image: linear-gradient(#00bc40, #4c3ae3); */
    background-image: linear-gradient( #03203C, #6F00ED);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
.form{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    color: #ffffff;
    border: 1px solid rgba(236, 227, 227, 0.527);
    font-size: small;
    margin: 0rem 1rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
    font-weight: bold;
    background: linear-gradient(#253898, #5737D6);
    /* background: linear-gradient(#E1A2B8, #9F2BC1); */
    /* background-image: linear-gradient( #DB0B5F, #6F00ED); */
}
.heading
{
    text-align: center;
    font-style: "Poppins", sans-serif;
    padding: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 1 rem;
    font-size: 20px;
}
label
{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1rem;
}
#name,#email,#pw
{
    margin-top: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.233);
    border-radius: 4px;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    /* background: transparent; */
    background: #c6e6ee;
    font-size: 17px;
}
::placeholder{
    text-align: center;
    letter-spacing: 0.1cm;
    opacity: 2;
    /* color: rgba(255, 255, 255, 0.685); */
    color: black;
}
textarea
{
    color: rgb(212, 239, 243);
    border-radius: 6px;
    background: transparent;
    width: 100%;
    margin-right: 6px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.233);
    font-size: 15px;
}
.labels
{
    width: 70%;
    display: contents;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
    margin: auto;
}
select
{
    padding: 4px;
    color: violet;
    border: none;
    border-radius: 6px;
    background: transparent;
    /* margin-top: ; */
}
button{
    width: 220px;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid white;
}
button:hover{
    color: grey;
    border-color: grey;
}
.p,.yt{
    display: inline;
    font-size: 16px;
}
#card
{
    font-size: 20px;
}
#course
{
    color: white;
    font-size: 20px;
}